<h3>Create currency</h3>
<div>{{f}}</div>
<div class="alert alert-danger" ng-show="err">{{err}}</div>
<form name="myform">
<div class="form-group">
<label>Currency</label>
<input type="text" ng-model="f.name" class="form-control" required>
</div>

<div class="form-group">
<label>Code</label>
<input type="text" ng-model="f.id" class="form-control" required>
</div>

<button class="btn btn-primary" ng-click="submit()">Submit</button>
<button class="btn btn-secondary" ng-click="reset()">Reset</button>

</form>

<br/>
<div>
<nav aria-label="Page navigation" ng-show="pages.length > 1">
  <ul class="pagination">
    <li class="page-item" ng-class="{disabled: page == 0}">
      <a class="page-link" href="#" aria-label="Previous"
        ng-click="goto(page-1)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" ng-repeat="x in pages track by $index"
      ng-click="goto($index)"
      ng-class="{active: page == $index}">
      <a class="page-link" href="#">{{$index+1}}</a>
    </li>
    <li class="page-item" ng-class="{disabled: page == pages.length-1}">
      <a class="page-link" href="#" aria-label="Next"
        ng-click="goto(page+1)">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</td>
    <th>Code</td>
    <th>Name</td>
  </tr>
  </thead>
  <tr ng-repeat="x in disp_entities track by $index">
    <td>{{$index+1}}
    <a ng-click="edit($index)" href="#">
      <span class="fa fa-pencil"></span>
    </a>
    <a ng-click="delete($index)" href="#" align="right">
      <span class="fa fa-remove"></span>
    </a>
    </td>
    <td>{{ x.id }}</td>
    <td>{{ x.name }}</td>
  </tr>
</table>
</div>

<script>
app.controller('myCtrl', function($scope, $http) {
var uri = "/rest/currency";
var pageSize = 2;
$scope.page = 0;

function refresh() {
    var search = {params: {page: $scope.page}};
    $http.get(uri, search)
        .then(function (response) {
            $scope.entities = response.data;
            $scope.reset();
            $scope.goto(0);
//             $scope.$digest();
        });
}
refresh();

$scope.submit = function() {
    if (!this.myform.$valid)
        return false;
    $http.post(uri, this.f)
        .then(e=> {
            refresh();
        })
        .catch(e => $scope.err = e.data.error);
    return false;
};
$scope.reset = function() {
    $scope.f = null;
    $scope.err = null;

    var pages = $scope.entities.length / pageSize;
    if (pages > parseInt(pages))
      pages = parseInt(pages) + 1;
    $scope.pages = new Array(pages);
};
$scope.edit = function(index) {
    $scope.f = $scope.entities[index];
};
$scope.delete = function(index) {
    $http.delete(uri + "/" + $scope.entities[index].id)
        .then(e=>refresh());
    return false;
};
$scope.goto = function(index) {
    $scope.page = index;
    var start = index * pageSize;
    var end = start + pageSize;
    $scope.disp_entities = $scope.entities.slice(start, end);
//     refresh();
};
});

</script>
