<h3>Create Product</h3>
<div>{{msg.payload}}</div>
<form name="myform">
<input type="hidden" ng-init="f.type = 'product'">
<br/>
Product <input type="text" ng-model="f.name" required><br/>
Code <input type="text" ng-model="f.code">

<input type="submit" value="Submit" ng-click="click()">
<input type="reset"  value="Reset">

</form>
<script>
scope.units = ["Kg", "Litres", "Each"];

scope.click = function() {
    if (!this.myform.$valid)
        return false;
    if (!this.msg) this.msg = {};
    if (!this.msg.payload) this.msg.payload = {};
    this.f._id = this.msg.payload._id, 
    this.f._rev = this.msg.payload._rev;
    this.msg.payload = this.f;
    this.send(this.msg);
    return false;
};
</script>
