<h3>Create Receipt and Demand</h3>
<div>{{msg.payload}}</div>
<form name="myform">
    <select ng-model="f.type" name="unit">
        <option ng-repeat="opt in units" value="{{opt}}">{{opt}}</option>
    </select>
<br/>
Code <input type="text" ng-model="f.code">
Quantity <input type="text" ng-model="f.quantity" required><br/>

<input type="hidden" ng-model="f.action" value="update">
<input type="submit" value="Submit" ng-click="click()">
<input type="reset"  value="Reset">

</form>
<script>
scope.units = ["receipt", "demand", "customer", "order"];

scope.click = function() {
    if (!this.myform.$valid)
        return false;
    if (!this.msg) this.msg = {};
    if (!this.msg.payload) this.msg.payload = {};
    // this.f._id = this.msg.payload._id, 
    // this.f._rev = this.msg.payload._rev;
    this.msg.action = "update";
    this.msg.payload = this.f;
    this.send(this.msg);
    return false;
};
</script>
