<div>{{msg.payload}}</div>
<form name="myform">
<input type="hidden" ng-init="f.type = 'demand'">
<input type="radio" ng-model="f.action" value="sell" checked="checked">Seller
<input type="radio" ng-model="f.action" value="buy">Buyer
<br/>
Product <input type="text" ng-model="f.code" required>
Quantity <input type="number" ng-model="f.quantity">
    <select ng-model="f.unit" name="unit">
        <option ng-repeat="opt in units" value="{{opt}}">{{opt}}</option>
    </select><br/>
Name <input type="text" ng-model="f.customer.code">
Price <input type="number" ng-model="f.price">

<input type="submit" value="Submit" ng-click="click()">
<input type="reset"  value="Reset">

</form>
<script>
scope.units = ["Kg", "Litres", "Each"];
scope.f = {"type" : "bid", "action" : "sell"
    // ,"_id" : scope.msg.payload._id,
    // "_rev" : scope.msg.payload._rev
};
// var request = "http://admin:passw0rd@localhost:5984/alice/_all_docs";
// scope.$http.jsonp(request)
// .success(function(data){
//     // the promise gets resolved with the data from HTTP
//     deferred.resolve(data);
//     node.warn(data);
//   })
//   .error(function(data){
//     // the promise gets resolved with the data from HTTP
//     deferred.resolve(data);
//     node.warn(data);
//   });
  
scope.click = function() {
    if (!this.myform.$valid)
        return false;
    if (!this.msg) this.msg = {};
    if (!this.msg.payload) this.msg.payload = {};
    // this.f._id = this.msg.payload._id, 
    // this.f._rev = this.msg.payload._rev;
    this.msg.action = "update";
    this.msg.payload = this.f;
    this.send(this.msg);
    return false;
};
</script>
